body
{
    background: url('Cover.jpg') center / contain no-repeat fixed;
}

.Heading
{
    font-style: bold;
    font-size: 30px;
    color: rgb(99, 17, 17);
    
}

.container
{
    padding-left: 1000px;
    padding-right: 1000px;
    padding-top: 5px;
    font-style: italic;
    font-size: 15px;
}
span
{
    background-color: orange;
}

.box1
{
    width:800px;
    height: 100px;
    border-right: inset 5px rgb(121, 28, 28);
    border-bottom: inset 5px rgb(121, 28, 28);
    background-color: rgb(207, 155, 87);
    margin: 10px;
    padding: 10px;
    border-radius: 45px;

}

.box2
{
    width:800px;
    height: 200px;
    border-right: inset 5px rgb(121, 28, 28);
    border-bottom: inset 5px rgb(121, 28, 28);
    background-color: rgba(160, 108, 41, 0.884);
    background-image: url('Vishall.jpg');
    background-repeat: no-repeat;
    background-size: 150px;
    background-position: 20px center;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}

.text
{
    position: relative;
    left: 200px;
    bottom: 225px;
    width: 590px;
    height: px;
}

.box3
{
    width:770px;
    height: 150px;
    border-right: inset 5px rgb(121, 28, 28);
    border-bottom: inset 5px rgb(121, 28, 28);
    background-color: rgb(139, 83, 10);
    margin: 10px;
    padding: 30px;
    border-radius: 15px;
}

.text2
{
    position: relative;
    left: 650px;
    bottom: 160px;
    width: 760px;
}

.line
{
    position: relative;
    left: 430px;
    bottom: 405px;
    width: 760px;
    height: px;
}

.saveetha
{ 
    background: none;
}

h1 span 
{
    display: block;
}

.price
{
    background: none;
}